body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.InUnit{
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  border: solid;
  border-color: rgb(236, 236, 236);
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgba(244, 244, 244, 0);
}
.InUnit:hover{
  border-color: rgb(185, 185, 185);
  border-width: 1px;
}
.InUnitHidden{
  border-color: rgba(185, 185, 185, 0);
}
.InField{
  width: 3000px;
  height: 3000px;
  position: relative;
}
.TopField{
    width: 3000px;
    height: 3000px;
    position: relative;
    pointer-events: none;
}
.TopFieldContainer{
  position: absolute;
  width: 3000px;
  height: 3000px;
  top: 0;
  left: 0;
  pointer-events: none;
}
.MedField{
  width: 3000px;
  height: 3000px;
  position: absolute;
}
.OuterField{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(242, 242, 242);
  overflow: scroll;
  transition: background-color 0.3s;
}
.MenuBar{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 500px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.206);
  overflow: hidden;
  transition: all 0.6s, opacity 1.2s  cubic-bezier(0.445, 0.05, 0.55, 0.95); 
  z-index: 100;
}
.MenuBarHidden{
  transform: translateX(-350px) translateY(-38px) scaleY(0.85) scaleX(1.2);
  opacity: 0.9;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0);
}
.ToolBar{
  position: absolute;
  top: 20px;
  left: 290px;
  width: 70px;
  height: 258px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.206);
  transition: all 0.7s ;
  background-color: rgba(255, 255, 255, 0.88);
  z-index: 100;
}
.ToolBarHidden{
  transform: translateX(-270px);
}
.Tool{
  width: 55px;
  height: 55px;
  margin: 7.5px;
  border-radius: 7.5px;
  transition: all 0.3s ;
  scale: 1;
}
.Tool:hover{
  background-color: rgba(0, 0, 0, 0.054);
}
.Tool:active{
  scale: 0.9;
  background-color: rgba(0, 0, 0, 0.116);
}
.ToolIcon1{
  width: 50px;
  margin-left: 2px;
  margin-top: 7px;
  opacity: 0.75;
}
.ToolIcon2{
  width: 31px;
  margin-left: 12.5px;
  margin-top: 12px;
  opacity: 0.75;
}
.ToolIcon3{
  width: 20px;
  margin-left: 18px;
  margin-top: 15px;
  opacity: 0.75;
}
.ToolIcon4{
  width: 25px;
  margin-left: 15px;
  margin-top: 15px;
  opacity: 0.75;
}
.ToolIcon5{
  width: 16px;
  margin-left: 19px;
  margin-top: 16.5px;
  opacity: 0.4;
}
.ToolIcon6{
  width: 36px;
  margin-left: 10px;
  margin-top: 12px;
  opacity: 0.75;
}
.ScrollMenu{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.88);
  overflow: hidden;
}
.InfoMenu{
  position: absolute;
  top: 280px;
  left: 0;
  width: 250px;
  height: 220px;
  background-color: rgba(234, 234, 234, 0.88);
}
#ShowIcon{
  transition: all 0.7s;
}
.ToolScroll{
  overflow: scroll;
  width: 70px;
  height: 187.5px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.ToolScroll::-webkit-scrollbar{
  display: none; /* for Chrome, Safari, and Opera */
}
.Toolline{
  position: absolute;
  background-color: rgb(226, 226, 226);
  left: 5px;
  top: 188px;
  width: 60px;
  height: 2px;
  border-radius: 2px;
  box-shadow: 0px -2px 5px rgb(255, 255, 255);
}
.ScrollMenuScroll{
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  height: 280px;
  width: 250px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.ScrollMenuScroll::-webkit-scrollbar{
  display: none; /* for Chrome, Safari, and Opera */
}
.LifeCon{
  width: 230px;
  height: 50px;
  margin: 10px;
  border-radius: 8px;
  transition: all 0.3s ;
  position: relative;
}
.LifeCon:hover{
  background-color: rgba(0, 0, 0, 0.054);
}
.LifeCon:active{
  scale: 0.99;
  background-color: rgba(0, 0, 0, 0.116);
}
.LifeConSelected{
  background-color: rgba(0, 0, 0, 0.054);
}
.LifeName{
  position: absolute;
  font-family: Figtree, sans-serif;
  font-weight: 300;
  font-size: 22px;
  top: 55.5%;
  letter-spacing: 2px;
  top: 11px;
  right: 15px;
  opacity: 0.6;
  transition: all 0.3s ;
}
.LifeCon:hover .LifeName{
  opacity: 0.7;
}
.LifeImg1{
  width: 40px;
  margin: 5px;
  filter:drop-shadow(2px 3px 3px rgba(187, 136, 111, 0.409))
         drop-shadow(-2px -2px 3px rgba(255, 221, 204, 0.357));
}
.LifeImg2{
  width: 40px;
  margin: 5px;
  filter: drop-shadow(2px 3px 3px rgba(111, 165, 187, 0.409))
          drop-shadow(-2px -2px 3px rgba(204, 238, 255, 0.357));
}
.LifeImg3{
  width: 40px;
  margin: 5px;
  filter:drop-shadow(2px 3px 3px rgba(187, 176, 111, 0.409))
         drop-shadow(-2px -2px 3px rgba(255, 246, 204, 0.357));
}
.LifeImg4{
  width: 40px;
  margin: 5px;
  filter:drop-shadow(2px 3px 3px rgba(134, 187, 111, 0.409))
         drop-shadow(-2px -2px 3px rgba(225, 255, 204, 0.357));
}
.LifeImg6{
  width: 40px;
  margin: 5px;
  filter:drop-shadow(2px 3px 3px rgba(140, 111, 187, 0.409))
         drop-shadow(-2px -2px 3px rgba(238, 204, 255, 0.357));
}
.LifeImg1Field{
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  width: 80px;
  margin: 0px;
  filter:drop-shadow(3px 2px 1px rgba(45, 17, 0, 0.365))
         drop-shadow(-2px -2px 3px rgba(255, 221, 204, 0.532));
}
.LifeImg2Field{
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  width: 80px;
  margin: 0px;
  filter:drop-shadow(3px 2px 1px rgba(0, 24, 45, 0.365))
         drop-shadow(-2px -2px 3px rgba(204, 252, 255, 0.532));
}
.LifeImg3Field{
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  width: 80px;
  margin: 0px;
  filter:drop-shadow(3px 2px 1px rgba(45, 35, 0, 0.365))
         drop-shadow(-2px -2px 3px rgba(255, 231, 167, 0.532));
}
.LifeImg4Field{
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  width: 80px;
  margin: 0px;
  filter:drop-shadow(3px 2px 1px rgba(15, 45, 0, 0.365))
         drop-shadow(-2px -2px 3px rgba(218, 255, 204, 0.532));
  transition: all 0.4s;
}
.LifeImg4Passive{
  filter:drop-shadow(3px 2px 1px rgba(45, 34, 0, 0.365))
  drop-shadow(-2px -2px 3px rgba(255, 251, 204, 0.532))
  hue-rotate(-30deg)
  ;
}
.LifeImg6Field{
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  width: 80px;
  margin: 0px;
  filter:drop-shadow(3px 2px 1px rgba(28, 0, 45, 0.365))
         drop-shadow(-2px -2px 3px rgba(235, 204, 255, 0.532));
}
.LifeImg6FieldW{
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  width: 80px;
  margin: 0px;
  filter:drop-shadow(3px 2px 1px rgba(28, 0, 45, 0.365))
         drop-shadow(-2px -2px 3px rgba(196, 127, 241, 0.35));
}
.Select{
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.5px;
  transition: all 0.3s ;
  scale: 1;
  background-color: rgb(92, 92, 92);
  opacity: 0;
}
.IconInvert{
  filter: invert();
}
.wall{
  width: 50px;
  height: 50px;
  margin: -1px;
  background-color: rgb(92, 92, 92);
  position: relative;
  scale: 0.95;
  border-radius: 5px;
}
.wallCornner{
  width: 20px;
  position: absolute;
  bottom: 5px;
  right: 6px;

}
.wallTool{
  width: 35px;
  height: 35px;
  margin: 7.5px;
  scale: 0.9;
}
#LifeCon5{
  width: 230px;
  height: 2px;
  margin: 10px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.06);
  transition: all 0.3s ;
  position: relative;
}
.bottomScroll{
  width: 280px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.615);
  filter: blur(10px);
  position: absolute;
  bottom: -6px;
  left: -15;
}
.InfoImg{
  width: 70px;
  margin: 5px;
}
.InfoImgContainer{
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.054);
  margin: 10px;
  border-radius: 12px;
}
.InfoName{
  position: absolute;
  left: 110px;
  top: 10px;
  font-family: Figtree, sans-serif;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
  opacity: 0.4;

}
.InfoDetail{
  width: 130px;
  position: absolute;
  left: 110px;
  top: 50px;
  font-family: Figtree, sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 1px;
  opacity: 0.4;
}
.InfoHealth{
  width: 123px;
  position: absolute;
  left: 100px;
  top: 50px;
  padding: 5px;
  padding-left: 10px;
  font-family: Figtree, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.4;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.InfoPosition{
  width: 123px;
  position: absolute;
  left: 100px;
  top: 85px;
  padding: 5px;
  padding-left: 10px;
  font-family: Figtree, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.4;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.InfoPopulation{
  width: 123px;
  height: 38px;
  position: absolute;
  left: 100px;
  top: 120px;
  padding: 5px;
  padding-left: 10px;
  font-family: Figtree, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.4;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.InfoText{
  font-family: Figtree, sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  
}
.InfoPart{
  width: 63px;
  height: 63px;
  position: absolute;
  left: 10px;
  top: 95px;
  padding: 5px;
  padding-left: 10px;
  font-family: Figtree, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.4;
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
}
.barText{
  font-family: Figtree, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.3;
}
.InfobodyType{
  font-family: Figtree, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}
.popDisplay{
  width: 230px;
  height: 30px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  
  background-color: rgba(0, 0, 0, 0.054);
  border-radius: 8px;
}
.popDisplayText{
  margin: 5px;
  margin-left: 10px;
  font-family: Figtree, sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.4;
}
#filterPlane{
  width: 3000px;
  height: 3000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.34);
  display: none;
  pointer-events: none;
}
.loadPage{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  text-align: center;
  filter: blur(0);
  transition: opacity 0.6s, filter 0.6s cubic-bezier(.85,-0.01,.38,1);
  z-index: 300;
}
.mainLogo{
  transition: all 1.2s cubic-bezier(.85,-0.01,.38,1);
  filter: blur(20px);
  opacity: 0;
  top: 50%;
  translate: -80px -100px;
  scale: 1;
}
.mainLogoActive{
  filter: blur(0px);
  opacity: 1;
  top: 50%;
  translate: -150px -100px;
  scale: 0.8;
}
.loadText{
  filter: blur(20px);
  opacity: 0;
  font-family: Figtree, sans-serif;
  font-weight: 600;
  font-size: 30px;
  top: 50%;
  translate: -120px -40px;
  letter-spacing: 10px;
  transition: all 1.3s cubic-bezier(.85,-0.01,.38,1);
  scale: 0.8;
}
.loadTextActive{
  filter: blur(0px);
  opacity: 0.8;
  top: 50%;
  translate: -60px -40px;
  letter-spacing: 2px;
  scale: 1;
}
.cursor_tracker{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.554);
  filter: blur(0);
  border-radius: 8px;
  width: 90px;
  height: 16px;
  pointer-events: none;
  scale: 1;
  font-family: Figtree, sans-serif;
  color: rgb(90, 90, 90);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  opacity: 1;
  padding: 2px;
  padding-left: 5px;
  padding-bottom: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.059);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: none;

}